public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IQ Option Trade Robot, automated trading at IQ Option - IQ Signals</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- icon & css-->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="/assets/css/main.css?v=d745a6b" rel="stylesheet">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TFHQG3P');</script>
  <!-- End Google Tag Manager -->
</head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFHQG3P"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="app">
<div id="banner">
  <div class="container">
    <div class="banner">
      <div class="banner__info">
        <p>This site and IQ Signals app are not affiliated with the&nbsp;IQ&nbsp;Option company and its products</p>
      </div>
      <div class="banner-close"><a class="close-banner" href="#" title="Close banner">
          <svg>
            <use href="/image/icon/close.svg#close"></use>
          </svg></a></div>
    </div>
  </div>
</div>
<header>
  <div class="container">
    <div class="header">
      <div class="header-logo"><a href="/" title="IQ Signals">
          <svg>
            <use href="/image/logo.svg#iq_signals"></use>
          </svg></a></div>
      <nav class="header-menu">
        <ul>
          <li><a class="hash" href="#info" title="Features">Features</a></li>
          <li><a class="hash" href="#steps" title="How to start">How to start</a></li>
          <li><a class="hash" href="#faq" title="FAQ">FAQ</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-language">
      <div class="select">
        <input type="hidden" name="language" value="1"><a class="select-box" id="language" href="#" title="Choose language">English</a>
        <svg>
          <use href="/image/icon/chevron.svg#chevron"></use>
        </svg>
        <div class="select-options" data-for="language"></div>
      </div>
    </div>
  </div>
</header>
      <main>
        <section id="start">
          <div class="container">
            <div class="start">
              <div class="start__title">
                <h1>Start trading with smart robot for IQ Option</h1>
              </div>
              <div class="start__text">
                <p>IQ Signals is an automated tool for successful day trading at IQ Option mobile platform. Stop wasting time and money doing manual work – the robot will do everything all alone.</p>
              </div>
              <div class="start__link"><a href="https://redirect.appmetrica.yandex.com/serve/243382852153077055" onclick="dataLayer.push({'event': 'click_gplink'});" target="_blank" title="Get it on Google Play"><img src="/image/google_play_store_badge_en.svg" alt="Get it on Google Play"></a></div>
            </div>
            <div class="start-image">
              <picture>
                <!-- source(srcset='/image/phone.m.webp 1x' media='(max-width: 767px)' type='image/webp')-->
                <!-- source(srcset='/image/phone.webp 1x' type='image/webp')-->
                <source srcset="/image/phone.m.png 1x, /image/phone.m@2x.png 2x, /image/phone.m@3x.png 3x" media="(max-width: 767px)" type="image/png">
                <source srcset="/image/phone.png 1x, /image/phone@2x.png 2x, /image/phone@3x.png 3x" type="image/png"><img src="/image/phone.png" loading="eager" alt="image">
              </picture>
            </div>
          </div>
        </section>
        <div id="indicators">
          <div class="container">
            <ul class="indicators">
              <li class="indicators-item">
                <div class="indicators-item__title">
                  <div class="indicators-item__icon"><img src="/image/icon/chip.svg" alt="icon"></div>69%
                </div>
                <div class="indicators-item__text">Predictive accuracy</div>
              </li>
              <li class="indicators-item">
                <div class="indicators-item__title">
                  <div class="indicators-item__icon"><img src="/image/icon/wallet.svg" alt="icon"></div>$315
                </div>
                <div class="indicators-item__text">Average deposit</div>
              </li>
              <li class="indicators-item">
                <div class="indicators-item__title">$3 724 245</div>
                <div class="indicators-item__text">Earned by clients</div>
              </li>
              <li class="indicators-item">
                <div class="indicators-item__title">7 882</div>
                <div class="indicators-item__text">Active users worldwide</div>
              </li>
            </ul>
          </div>
        </div>
        <section id="win">
          <div class="container">
            <div class="win">
              <div class="win__title">
                <h3>All winning trading strategies implemened in&nbsp;one&nbsp;app!</h3>
              </div>
            </div>
            <div class="win-image">
              <picture>
                <!-- source(srcset='/image/phone_win.m.webp 1x' media='(max-width: 767px)' type='image/webp')-->
                <!-- source(srcset='/image/phone_win.webp 1x' type='image/webp')-->
                <source srcset="/image/phone_win.m.png 1x, /image/phone_win.m@2x.png 2x, /image/phone_win.m@3x.png 3x" media="(max-width: 767px)" type="image/png">
                <source srcset="/image/phone_win.png 1x, /image/phone_win@2x.png 2x, /image/phone_win@3x.png 3x" type="image/png"><img src="/image/phone_win.png" loading="lazy" alt="image">
              </picture>
            </div>
          </div>
        </section>
        <section id="info">
          <div class="container">
            <ul class="info">
              <li class="info-item">
                <div class="info-item__icon"><img src="/image/icon/user.svg" alt="icon"></div>
                <div class="info-item__title">
                  <h4>Simple and intuitive interface</h4>
                </div>
                <div class="info-item__text">
                  <p>You don't need any specialized knowledge or&nbsp;pro skills to start using the robot</p>
                </div>
              </li>
              <li class="info-item">
                <div class="info-item__icon"><img src="/image/icon/pay.svg" alt="icon"></div>
                <div class="info-item__title">
                  <h4>$10,000 Demo account</h4>
                </div>
                <div class="info-item__text">
                  <p>Test our trading algorithms without any&nbsp;risk. TAKE PROFIT – The robot stops trading after earning the amount of money you set up</p>
                </div>
              </li>
              <li class="info-item">
                <div class="info-item__icon"><img src="/image/icon/feedback.svg" alt="icon"></div>
                <div class="info-item__title">
                  <h4>24/7 Support</h4>
                </div>
                <div class="info-item__text">
                  <p>Аsk us for any help whenever you&nbsp;want and&nbsp;we&nbsp;will answer you ASAP</p>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section id="analitics">
          <div class="container">
            <div class="analitics">
              <div class="analitics__title">
                <h3>IQ Signals cloud analytics</h3>
              </div>
              <div class="analitics__text">
                <p>A custom-built predictive model with machine learning developed by a group of mathematicians, data scientists, and financial analysts.</p>
                <p>It analyzes the market for more than 21 technical indicators in real-time including Bollinger Bands, Relative Strength Index (RSI), Average Directional Index (ADX), Highs / Lows, MACD, Commodity Channel Index (CCI), Stochastic Oscillator, etc.</p>
              </div>
            </div>
            <div class="analitics-image">
              <div class="analitics-image__code">
                <picture>
                  <!-- source(srcset='/image/code.webp 1x' type='image/webp')-->
                  <source srcset="/image/code.png 1x, /image/code@2x.png 2x, /image/code@3x.png 3x" type="image/png"><img src="/image/code.png" loading="lazy" alt="image">
                </picture>
              </div>
              <div class="analitics-image__banner">
                <picture>
                  <!-- source(srcset='/image/banner.webp 1x' type='image/webp')-->
                  <source srcset="/image/banner.png 1x, /image/banner@2x.png 2x, /image/banner@3x.png 3x" type="image/png"><img src="/image/banner.png" loading="lazy" alt="image">
                </picture>
              </div>
            </div>
          </div>
        </section>
        <section id="steps">
          <div class="container">
            <div class="steps">
              <div class="steps__title">
                <h2>Start trading in 4 steps</h2>
              </div>
              <ul class="steps-list">
                <li class="steps-list-item">
                  <div class="steps-list-item__count">1</div>
                  <div class="steps-list-item__text">Install the app from Google Play</div>
                </li>
                <li class="steps-list-item">
                  <div class="steps-list-item__count">2</div>
                  <div class="steps-list-item__text">Register a new account using the registration form inside the app</div>
                </li>
                <li class="steps-list-item">
                  <div class="steps-list-item__count">3</div>
                  <div class="steps-list-item__text">Test the robot at the demo account</div>
                </li>
                <li class="steps-list-item">
                  <div class="steps-list-item__count">4</div>
                  <div class="steps-list-item__text">Deposit at least $100 and start trading for real</div>
                </li>
              </ul>
              <div class="steps__link"><a href="https://redirect.appmetrica.yandex.com/serve/243382852153077055" onclick="dataLayer.push({'event': 'click_gplink'});" target="_blank" title="Get it on Google Play"><img src="/image/google_play_store_badge_en.svg" alt="Get it on Google Play"></a>
                <p>Sign up at&nbsp;IQ&nbsp;Signals system right now</p>
              </div>
            </div>
            <div class="steps-image">
              <picture>
                <!-- source(srcset='/image/phone_steps.webp 1x' type='image/webp')-->
                <source srcset="/image/phone_steps.png 1x, /image/phone_steps@2x.png 2x, /image/phone_steps@3x.png 3x" type="image/png"><img src="/image/phone_steps.png" loading="lazy" alt="image">
              </picture>
            </div>
          </div>
        </section>
        <section id="faq">
          <div class="container">
            <div class="faq">
              <div class="faq__title">
                <h2>FAQ</h2>
              </div>
              <ul class="faq-list">
                <li class="faq-list-item"><a class="open-popup" href="#answer_1" title="Read more">
                    <div class="faq-list-item__question">
                      <p>I already have an account at the IQ Option platform.<br>Can I use it with your app?</p>
                    </div>
                    <div class="faq-list-item__more">
                      <svg>
                        <use href="/image/icon/arrow.svg#arrow"></use>
                      </svg>
                    </div></a></li>
                <li class="faq-list-item"><a class="open-popup" href="#answer_2" title="Read more">
                    <div class="faq-list-item__question">
                      <p>Demo balance exhausted.<br>Can I refresh it?</p>
                    </div>
                    <div class="faq-list-item__more">
                      <svg>
                        <use href="/image/icon/arrow.svg#arrow"></use>
                      </svg>
                    </div></a></li>
                <li class="faq-list-item"><a class="open-popup" href="#answer_3" title="Read more">
                    <div class="faq-list-item__question">
                      <p>I’d like to withdraw my money.<br>How can I make it?</p>
                    </div>
                    <div class="faq-list-item__more">
                      <svg>
                        <use href="/image/icon/arrow.svg#arrow"></use>
                      </svg>
                    </div></a></li>
              </ul>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__info">
        <p>Risk warning: your capital may be&nbsp;at&nbsp;risk. The developer is&nbsp;not&nbsp;responsible for trading results. Read Terms and&nbsp;Conditions before using the&nbsp;app.</p>
      </div>
      <div class="footer__group">
        <div class="footer__terms">
          <p><a href="#" title="Terms &amp; Conditionals">Terms & Conditions</a></p>
        </div>
        <div class="footer__copyright">
          <p>&copy; 2021 IQ Signals</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- popup-->
<div id="popup">
  <div class="overlay">
    <div class="close-popup"></div>
    <!-- ответы на вопросы-->
    <div class="module" id="answer_1"><a class="close-popup" href="#" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a>
      <div class="answer">
        <div class="answer__title">I already have an account at the IQ Option platform. Can&nbsp;I&nbsp;use it with your app?</div>
        <div class="answer__text">
          <p>A custom-built predictive model with machine learning developed by&nbsp;a&nbsp;group of mathematicians, data scientists, and financial analysts.</p>
          <p>It analyzes the market for more than 21 technical indicators in real-time including Bollinger Bands, Relative Strength Index (RSI), Average Directional Index (ADX), Highs / Lows, MACD, Commodity Channel Index (CCI), Stochastic Oscillator, etc.</p>
        </div>
      </div>
    </div>
    <div class="module" id="answer_2"><a class="close-popup" href="#" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a>
      <div class="answer">
        <div class="answer__title">Demo balance exhausted. Can I refresh it?</div>
        <div class="answer__text">
          <p>A custom-built predictive model with machine learning developed by&nbsp;a&nbsp;group of mathematicians, data scientists, and financial analysts.</p>
          <p>It analyzes the market for more than 21 technical indicators in real-time including Bollinger Bands, Relative Strength Index (RSI), Average Directional Index (ADX), Highs / Lows, MACD, Commodity Channel Index (CCI), Stochastic Oscillator, etc.</p>
        </div>
      </div>
    </div>
    <div class="module" id="answer_3"><a class="close-popup" href="#" title="Закрыть окно">
        <svg>
          <use href="/image/icon/close.svg#close"></use>
        </svg></a>
      <div class="answer">
        <div class="answer__title">I’d like to withdraw my money. How can I make it?</div>
        <div class="answer__text">
          <p>A custom-built predictive model with machine learning developed by&nbsp;a&nbsp;group of mathematicians, data scientists, and financial analysts.</p>
          <p>It analyzes the market for more than 21 technical indicators in real-time including Bollinger Bands, Relative Strength Index (RSI), Average Directional Index (ADX), Highs / Lows, MACD, Commodity Channel Index (CCI), Stochastic Oscillator, etc.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- popup end-->
    </div>
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=7737054"></script><script defer src="/assets/js/main.js?v=a8278ac"></script><script defer src="/assets/js/languages.js?v=001"></script></body>
</html>

src/view/index.pug
extends include/main

block variables
  - let title='IQ Signals'

block content
  section#start
    .container
      .start
        .start__title
          h1 Start trading with smart robot for IQ Option
        .start__text
          p IQ Signals is an automated tool for successful day trading at IQ Option mobile platform. Stop wasting time and money doing manual work – the robot will do everything all alone.
        .start__link
          a(href='//play.google.com/store' target='_blank' title='Get it on Google Play')
            img(src='/image/google_play_store_badge_en.svg' alt='Get it on Google Play')
      .start-image
        picture
          // source(srcset='/image/phone.m.webp 1x' media='(max-width: 767px)' type='image/webp')
          // source(srcset='/image/phone.webp 1x' type='image/webp')
          source(srcset='/image/phone.m.png 1x, /image/phone.m@2x.png 2x, /image/phone.m@3x.png 3x' media='(max-width: 767px)' type='image/png')
          source(srcset='/image/phone.png 1x, /image/phone@2x.png 2x, /image/phone@3x.png 3x' type='image/png')
          img(src='/image/phone.png' loading='eager' alt='image')
  #indicators
    .container
      ul.indicators
        li.indicators-item
          .indicators-item__title
            .indicators-item__icon
              img(src='/image/icon/chip.svg' alt='icon')
            | 69%
          .indicators-item__text Predictive accuracy
        li.indicators-item
          .indicators-item__title
            .indicators-item__icon
              img(src='/image/icon/wallet.svg' alt='icon')
            | $315
          .indicators-item__text Average deposit
        li.indicators-item
          .indicators-item__title $3 724 245
          .indicators-item__text Earned by clients
        li.indicators-item
          .indicators-item__title 7 882
          .indicators-item__text Active users worldwide
  section#win
    .container
      .win
        .win__title
          h3 All winning trading strategies implemened in&nbsp;one&nbsp;app!
      .win-image
        picture
          // source(srcset='/image/phone_win.m.webp 1x' media='(max-width: 767px)' type='image/webp')
          // source(srcset='/image/phone_win.webp 1x' type='image/webp')
          source(srcset='/image/phone_win.m.png 1x, /image/phone_win.m@2x.png 2x, /image/phone_win.m@3x.png 3x' media='(max-width: 767px)' type='image/png')
          source(srcset='/image/phone_win.png 1x, /image/phone_win@2x.png 2x, /image/phone_win@3x.png 3x' type='image/png')
          img(src='/image/phone_win.png' loading='lazy' alt='image')
  section#info
    .container
      ul.info
        li.info-item
          .info-item__icon
            img(src='/image/icon/user.svg' alt='icon')
          .info-item__title
            h4 Simple and intuitive interface
          .info-item__text
            p You don't need any specialized knowledge or&nbsp;pro skills to start using the robot
        li.info-item
          .info-item__icon
            img(src='/image/icon/pay.svg' alt='icon')
          .info-item__title
            h4 $10,000 Demo account
          .info-item__text
            p Test our trading algorithms without any&nbsp;risks TAKE PROFIT – The robot stops trading after earning the amount of money you set up
        li.info-item
          .info-item__icon
            img(src='/image/icon/feedback.svg' alt='icon')
          .info-item__title
            h4 24/7 Support
          .info-item__text
            p Аsk us for any help whenever you&nbsp;want and&nbsp;we&nbsp;will answer you ASAP
  section#analitics
    .container
      .analitics
        .analitics__title
          h3 IQ Signals cloud analitics
        .analitics__text
          p A custom-built predictive model with machine learning developed by a group of mathematicians, data scientists, and financial analytics.
          p It analyzes the market for more than 21 technical indicators in real-time including Bollinger Bands, Relative Strength Index (RSI), Average Directional Index (ADX), Highs / Lows, MACD, Commodity Channel Index (CCI), Stochastic Oscillator, etc.
      .analitics-image
        .analitics-image__code
          picture
            // source(srcset='/image/code.webp 1x' type='image/webp')
            source(srcset='/image/code.png 1x, /image/code@2x.png 2x, /image/code@3x.png 3x' type='image/png')
            img(src='/image/code.png' loading='lazy' alt='image')
        .analitics-image__banner
          picture
            // source(srcset='/image/banner.webp 1x' type='image/webp')
            source(srcset='/image/banner.png 1x, /image/banner@2x.png 2x, /image/banner@3x.png 3x' type='image/png')
            img(src='/image/banner.png' loading='lazy' alt='image')
  section#steps
    .container
      .steps
        .steps__title
          h2 Start trading in 4 steps
        ul.steps-list
          li.steps-list-item
            .steps-list-item__count 1
            .steps-list-item__text Install the app from Google Play
          li.steps-list-item
            .steps-list-item__count 2
            .steps-list-item__text Test the robot at the Demo account
          li.steps-list-item
            .steps-list-item__count 3
            .steps-list-item__text Register a new account using Registration form inside the app
          li.steps-list-item
            .steps-list-item__count 4
            .steps-list-item__text Deposit at least $100 and start trading for real
        .steps__link
          a(href='//play.google.com/store' target='_blank' title='Get it on Google Play')
            img(src='/image/google_play_store_badge_en.svg' alt='Get it on Google Play')
          p And start trading right now with&nbsp;IQ&nbsp;Signals
      .steps-image
        picture
          // source(srcset='/image/phone_steps.webp 1x' type='image/webp')
          source(srcset='/image/phone_steps.png 1x, /image/phone_steps@2x.png 2x, /image/phone_steps@3x.png 3x' type='image/png')
          img(src='/image/phone_steps.png' loading='lazy' alt='image')
  section#faq
    .container
      .faq
        .faq__title
          h2 FAQ
        ul.faq-list
          li.faq-list-item
            a.open-popup(href='#answer_1' title='Read more')
              .faq-list-item__question
                p
                  | I already have an account at the IQ Option platform.
                  br
                  | Can i use it with your app?
              .faq-list-item__more
                svg
                  use(href='/image/icon/arrow.svg#arrow')
          li.faq-list-item
            a.open-popup(href='#answer_2' title='Read more')
              .faq-list-item__question
                p
                  | Demo balance exhausted.
                  br
                  | Can i refresh it?
              .faq-list-item__more
                svg
                  use(href='/image/icon/arrow.svg#arrow')
          li.faq-list-item
            a.open-popup(href='#answer_3' title='Read more')
              .faq-list-item__question
                p
                  | I’d like to withdraw my money.
                  br
                  | How can i make it?
              .faq-list-item__more
                svg
                  use(href='/image/icon/arrow.svg#arrow')
